* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image:url(tło.png);
}

#p0 {
    background: none;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 67px;
    margin-bottom: 2%;
}


.zentrum {
    margin:auto;
    justify-content: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color:rgba(171, 138, 81, 0.87);
    border-color: black;
    border-top-style: dotted;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: double;
    border-width: 5%;
    border-radius: 10px;
    margin:auto;
}

.nav1 {
    background: rgba(0, 0, 255, 0);
    color: inherit;
    border: none;
    padding: 1.5% 2.5% 1.5% 2.5%;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
    cursor: pointer;
    outline: inherit;
    height: 100%;
    border-right: 3px solid black;
}

.nav1:last-child {
    border: none;
}

.prostokat {
    visibility: collapse;
    display: none;
    margin:auto;
    justify-content: center;
    height: fit-content;
    width: 67%;
    background-color: rgb(248, 248, 230);
    border-color: black;
    border-style: double;
    border-width: 5%;
    border-radius: 20px;
    padding: 0% 2% 0% 2%;
    word-wrap: break-word;
}

.prostokat-widoczny {
    visibility:visible;
    display: block;
}

.prostokat, nav {
    margin-bottom: 3.5%;
}

h1 {
    font-family: "Bungee", sans-serif;
    font-weight:lighter;
    font-style: normal;
}

.obrazekprawo {
    float: right;
    margin: 0px;
}

footer {
    padding: 1%;
    width:fit-content;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;;
    margin: auto;
}